
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.homepage-nwX {
  overflow: hidden;
  background-size: 100% 100%;
  background-color: rgba(42, 38, 61, 0.8199999928);
  padding: 4.4rem 47.8rem 4.4rem 47.7rem;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:2132b397b6ea93f6dd07b40fdcfa3f4864be2bdb');
  box-sizing: border-box;
  height: 72rem;

  .item--JYV {
    width: 100%;
    height: 48.3rem;
    align-items: center;
    display: flex;
    flex-direction: column;

    .iconbali-kYu {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 1.4rem 1.4rem;
      width: 16.5rem;
      height: 16.5rem;
      object-fit: cover;
    }
    .auto-group-thb1-RQ9 {
      margin: 0rem 1.8rem 0.5rem 1.9rem;
      width: calc(100% - 3.7rem);
      height: 25.3rem;
      position: relative;
      flex-shrink: 0;

      .cheapest-and-easier-8JZ {
        white-space: nowrap;
        height: 1.8rem;
        position: absolute;
        left: 8.35rem;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;
        font-family: SF Pro Display, 'Source Sans Pro';
        width: 12.1rem;
        top: 18.2rem;
        line-height: 1.2575;
        color: #ffffff;
      }
      .a-better-way-to-travel-to-bali-NCu {
        top: 0;
        text-align: center;
        color: #ffffff;
        font-family: Pacifico, 'Source Sans Pro';
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.755;
        width: 28.8rem;
        height: 25.3rem;
        position: absolute;
        left: 0;

        .a-better-way-to-travel-to-bali-NCu-sub-0 {
        }
        .a-better-way-to-travel-to-bali-NCu-sub-1 {
          font-family: Pacifico, 'Source Sans Pro';
          font-size: 4.8rem;
          font-weight: 400;
          line-height: 1.755;
          color: #fcb371;
        }
      }
    }
    .auto-group-np8f-sxH {
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      height: 4.6rem;
      display: flex;

      .auto-group-gkgo-1ob {
        align-items: center;
        white-space: nowrap;
        width: 15.6rem;
        display: flex;
        line-height: 1.755;
        flex-shrink: 0;
        height: 100%;
        justify-content: center;
        font-size: 1.2rem;
        font-weight: 400;
        color: #fcb371;
        font-family: Pacifico, 'Source Sans Pro';
        border: solid 0.2rem #fcb371;
        margin-right: 1.3rem;
        box-sizing: border-box;
        border-radius: 0.6rem;
      }
      .auto-group-kfrt-EwF {
        height: 100%;
        display: flex;
        font-size: 1.2rem;
        white-space: nowrap;
        align-items: center;
        font-weight: 400;
        background-color: #fcb371;
        justify-content: center;
        color: #ffffff;
        border-radius: 0.6rem;
        width: 15.6rem;
        line-height: 1.755;
        font-family: Pacifico, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
  }
}
