
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.reservation-1TT {
  background-size: 100% 100%;
  height: 72rem;
  position: relative;
  overflow: hidden;
  background-image: url('REPLACE_IMAGE:121cb1d3ae2537707962cef0bfd0c00bb9627491');
  background-color: rgba(42, 38, 61, 0.8199999928);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;

  .auto-group-bbnj-wru {
    width: 70.5rem;
    height: 8.5rem;
    position: absolute;
    left: 5.6rem;
    top: 5.8rem;
    display: flex;
    align-items: center;

    .back-GuB {
      margin: 0rem 43.8rem 4.1rem 0rem;
      width: 2.4rem;
      height: 0rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .reservation-bRf {
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 4.8rem;
      font-weight: 400;
      line-height: 1.755;
      color: #fcb371;
      font-family: Pacifico, 'Source Sans Pro';
    }
  }
  .input-name-viq {
    font-family: SF Pro Display, 'Source Sans Pro';
    padding: 1.5rem 1.6rem;
    height: 4.6rem;
    position: absolute;
    left: 44.9rem;
    overflow: hidden;
    font-size: 1.2rem;
    line-height: 1.2575;
    background-color: #ffffff;
    border-radius: 0.8rem;
    top: 20.9rem;
    white-space: nowrap;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    display: flex;
    font-weight: 400;
    box-sizing: border-box;
    width: 38.2rem;
    color: #a9a9a9;
  }
  .input-email-MZF {
    padding: 1.5rem 1.6rem;
    position: absolute;
    left: 44.95rem;
    background-color: #ffffff;
    top: 27.1rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #a9a9a9;
    width: 38.2rem;
    height: 4.6rem;
    white-space: nowrap;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    font-family: SF Pro Display, 'Source Sans Pro';
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 0.8rem;
  }
  .auto-group-hxnb-byP {
    height: 4.6rem;
    position: absolute;
    left: 44.95rem;
    top: 33.3rem;
    display: flex;
    align-items: center;
    width: 38.2rem;

    .input-phone-KeV {
      margin-right: 1.6rem;
      display: flex;
      font-size: 1.2rem;
      color: #a9a9a9;
      font-family: SF Pro Display, 'Source Sans Pro';
      background-color: #ffffff;
      border-radius: 0.8rem;
      box-sizing: border-box;
      width: 17.7rem;
      overflow: hidden;
      position: relative;
      padding: 1.5rem 1.6rem;
      font-weight: 400;
      line-height: 1.2575;
      white-space: nowrap;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      height: 100%;
    }
    .input-nationality-Mr5 {
      padding: 1.5rem 1.6rem;
      height: 100%;
      align-items: center;
      box-sizing: border-box;
      position: relative;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border-radius: 0.8rem;
      flex-shrink: 0;
      overflow: hidden;

      .select-your-nationality-JFX {
        font-family: SF Pro Display, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 3.2rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #a9a9a9;
        white-space: nowrap;
        display: flex;
      }
      .polygon-1-1fj {
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        width: 1.2rem;
        height: 1.2rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .input-explain-trip-Jeq {
    font-weight: 400;
    font-family: SF Pro Display, 'Source Sans Pro';
    background-color: #ffffff;
    color: #a9a9a9;
    white-space: nowrap;
    border-radius: 0.8rem;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    line-height: 1.2575;
    height: 11.6rem;
    left: 44.95rem;
    overflow: hidden;
    font-size: 1.2rem;
    padding: 5rem 1.6rem;
    width: 38.2rem;
    top: 39.5rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  }
  .button-submit-kmj {
    overflow: hidden;
    align-items: center;
    font-size: 1.2rem;
    top: 54.3rem;
    display: flex;
    justify-content: center;
    color: #ffffff;
    width: 38.3rem;
    height: 5.3rem;
    left: 44.9rem;
    font-weight: 400;
    font-family: Pacifico, 'Source Sans Pro';
    position: absolute;
    line-height: 1.755;
    white-space: nowrap;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #fcb371;
    border-radius: 0.8rem;
  }
}
